## Code quality
black~=22.8.0
isort~=5.13.2
mypy==1.1.1
pydocstyle
pylint~=2.15.0
pytest-cov==3.0.0
pytest==7.0.1
xenon==0.9.0

## Types
types-tqdm

## CLI
click==8.0.4

## Package mgmt
rope

## Standard science stack
h5py
matplotlib
numpy==1.23
pandas<2.0.0
scipy
seaborn

## Standard utils
celluloid
jupyter>=1.0.0
jupyterlab
jupytext
rich
tqdm

## Deep learning
einops
git+https://github.com/dgasmith/opt_einsum.git@1a984b7b75f3e532e7129f6aa13f7ddc3da66e10 # Un-released latest master (pinned for repro); the latest released version 3.3.0 has bugs in shape-based contraction path computations (used for einsum)
torch-ema
torch==2.2.1
torchvision
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

## Experiment management
hydra-core
mlflow==2.4.1  ## Need to pin version to avoid database version issues
optuna
SQLAlchemy==1.4.46  ## Pandas 1.* doesn't work with SQLAlchemy 2.*, see https://stackoverflow.com/questions/75315117/attributeerror-connection-object-has-no-attribute-connect-when-use-df-to-sq
wandb

## Project-specific: general
clifford==1.4.0
xformers==0.0.25

## Project-specific: baselines
git+https://github.com/microsoft/cliffordlayers.git@74799cf4588a065916305bfcf2f030d84918f0ad  # The current version on pip (0.1.1) doesn't have GCAN yet

# segnn
e3nn>=0.4.1
torch_geometric>=2.0.9

# se3-transformer
absl-py
certifi
chardet
cycler
Cython
dgl-cu110
git+https://github.com/AMLab-Amsterdam/lie_learn.git
grpcio
idna
joblib
kiwisolver
Markdown
packaging
protobuf
pyparsing
python-dateutil
requests
scikit-learn
six
tensorboard
urllib3
Werkzeug

# Coronary Mesh Convolution
openmesh>=1.2.1
potpourri3d>=0.0.8
prettytable
trimesh>=3.15.3
vtk>=9.2.2
